/* Font Families */

@font-face {
    font-family: 'subset Playfair Display';
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
        url('fonts/subset-PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/subset-PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/subset-PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* Global Variables */

$paper-width: 816px;
$phone-width: 568px;

/* Design system */

// font size
$size-s: .875em;
$size-m: 1em;
$size-l: 1.25em;
$size-xl: 3.5em;

// space for margin and padding
$space-0: 0em;
$space-1: .25em;
$space-2: .375em;
$space-3: .5em;
$space-4: 1em;
$space-5: 1.25em;
$space-6: 1.5em;
$space-7: 2em;

/* Webpage layout */

@page {
  margin: 0;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0;
    @media print {
      background-image: none;
      font-size: 14px;
    }
    @media not print {
      background-image: url('./assets/bg_monet_optimized.jpg');
      /* webpackIgnore: false */
      // background-image: url('./assets/bg_monet_optimized.webp');
      background-size: cover;
      // provide a space around the resume on large enough screen widths
      $paddingSize: .5in;
      $minBound: $paper-width;
      $maxBound: $minBound + 2 * $paddingSize;
      padding: $paddingSize;
      @media (max-width: $maxBound) {
        padding: calc((100% - #{$minBound}) / 2);
      }
      @media (max-width: $minBound) {
        padding: 0;
      }
      // make the resume look like an actual 8.5x11 sheet of paper
      #resume {
        box-shadow: 3px 3px 4px 4px rgba(0,0,0,.6);
        max-width: $minBound;
        box-sizing: border-box;
      }
    }
}

h1 {
  font-family: 'subset Playfair Display', Times, serif;
  font-size: $size-xl;
}
h2 {
  font-family: Helvetica, serif;
  font-size: $size-l;
  margin: $space-3 $space-0;
}
h3 {
  font-size: $size-m;
  margin: $space-2 $space-0;
  font-weight: normal;
}
h4 {
  font-style: italic;
  font-weight: normal;
  margin: $space-1 $space-0;
}
p {
  margin: $space-1 $space-0;
}
ul {
  margin: $space-2 $space-0;
  li {
    margin: $space-1 $space-0;
  }
}
a {
  // text-decoration underline will overflow on the right if set to inline
  display: inline-block;
}

/* Resume layout and section styling */

#resume {
    border: none;
    background-color: white;
    box-shadow: none;
    width: 100%;
    padding: .25in .5in;
}

/* component classes */

.intro {
  @media (min-width: $phone-width) {
    display: grid;
    grid-template-areas: "left right" "mid mid" "bot bot";
    gap: $space-1 $space-3;
    > *:first-child {
      margin: $space-0;
      grid-area: left;
      white-space: nowrap;
    }
    > *:nth-child(2) {
      grid-area: right;
    }
    > *:nth-child(3) {
      // TODO i don't want "resume built by..." to break line, shoud all be on one line
      grid-area: mid;
    }
    > *:nth-child(4) {
      grid-area: bot;
    }
  }
}

.return-address {
  text-align: center;
  align-self: center;
  > :first-child {
    &::before, &::after {
      content: '—';
      padding: $space-0 $space-3;
    }
  }
}

.organization {
  > *:nth-child(2)::before,
  > *:nth-child(2)::after {
    content: "—";
    padding: $space-0 $space-1;
  }
  > *:last-child {
    float: right;
  }
}

.hackathons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.inline-list {
  display: flex;
  > *:nth-child(n+2)::before {
    content: "○";
    padding: $space-0 $space-1;
  }
}

/* utility classes */

.not-for-print {
  @media print {
    display: none;
  }
}

.not-for-web {
  @media not print {
    display: none;
  }
}
